@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 120 10% 5%;
    --foreground: 120 20% 95%;
    --card: 120 8% 8%;
    --card-foreground: 120 20% 95%;
    --popover: 120 8% 8%;
    --popover-foreground: 120 20% 95%;
    --primary: 188 54% 24%;
    --primary-foreground: 204 30% 94%;
    --secondary: 120 6% 12%;
    --secondary-foreground: 120 20% 95%;
    --muted: 120 6% 12%;
    --muted-foreground: 120 5% 65%;
    --accent: 120 6% 12%;
    --accent-foreground: 120 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 20% 95%;
    --border: 120 4% 20%;
    --input: 120 4% 20%;
    --ring: 188 54% 24%;
    --chart-1: 188 54% 24%;
    --chart-2: 188 56% 32%;
    --chart-3: 188 60% 40%;
    --chart-4: 188 64% 48%;
    --chart-5: 188 68% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 5%;
    --foreground: 120 20% 95%;
    --card: 120 8% 8%;
    --card-foreground: 120 20% 95%;
    --popover: 120 8% 8%;
    --popover-foreground: 120 20% 95%;
    --primary: 188 54% 24%;
    --primary-foreground: 204 30% 94%;
    --secondary: 120 6% 12%;
    --secondary-foreground: 120 20% 95%;
    --muted: 120 6% 12%;
    --muted-foreground: 120 5% 65%;
    --accent: 120 6% 12%;
    --accent-foreground: 120 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 20% 95%;
    --border: 120 4% 20%;
    --input: 120 4% 20%;
    --ring: 188 54% 24%;
  }
}

@layer base {
  * {
    @apply border-slate-600;
  }
  body {
    @apply bg-[#03010f] text-slate-50 text-sm;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1 {
    @apply text-2xl font-bold tracking-tight text-slate-50;
  }
  h2 {
      @apply text-xl font-semibold tracking-tight text-slate-50;
  }
  h3 {
      @apply text-lg font-semibold text-slate-50;
  }
  h4 {
      @apply text-base font-semibold text-slate-50;
  }

}